.container {
    background-color: rgba(53, 49, 43, 0.192);
    margin-bottom: 2cm;
    font-size: 1cm;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.jumbotron {
    text-align: center;
    font-size: 1cm;
}
.fa {
    
}